[Unit]
Description=Telegram chatbot for the WLAN Pi
After=network.target

[Service]
ExecStart=/usr/sbin/chatbot
NoNewPrivileges=yes
ProtectSystem=true
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
