[Unit]
Description=Telegram chatbot for the WLAN Pi
After=network.target

[Service]
ExecStart=/usr/sbin/chatbot

[Install]
WantedBy=multi-user.target
